[core]
    excludesfile = ~/.global.gitignore
[user]
	name = Simão Neves
	email = simaocostaneves@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
	autoSetupRemote = true
[color]
	ui = true
[color "status"]
    added = green
    changed = red
    untracked = yellow
    branch = red
    unmerged = blue
[init]
	templatedir = ~/.git-templates
	defaultBranch = master
[commit]
	template = ~/.git-templates/git_commit_message.txt
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	mnemonicPrefix = true
	renames = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	updateRefs = true
[merge]
	conflictstyle = zdiff3
