[user]
	name = Simão Neves
	email = simaocostaneves@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[color]
	ui = true
[init]
	templatedir = /Users/simon/.git-templates
[commit]
	template = /Users/simon/.git-templates/git_commit_message.txt
