"*":
  "activate-power-mode":
    autoToggle: false
    comboMode:
      opacity: 0.2
      streakTimeout: 20
    particles:
      enabled: false
    screenShake:
      enabled: false
  "atom-clock":
    dateFormat: " dddd Do, H:mm"
    showClockIcon: true
  "atom-ctags":
    buildTimeout: 100000
    cmdArgs: "--exclude=node_modules --exclude=ios --exclude=android --exclude=appv1"
  "atom-material-ui":
    colors:
      abaseColor: "#8ce1ff"
      accentColor: "#fefcf6"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      animations: false
      useAnimations: false
  "atom-spotify2": {}
  "autocomplete-plus":
    useCoreMovementCommands: false
  "base16-syntax":
    scheme: "Materia"
  core:
    disabledPackages: [
      "background-tips"
      "bookmarks"
      "encoding-selector"
      "grammar-selector"
      "go-to-line"
      "image-view"
      "language-clojure"
      "language-csharp"
      "language-gfm"
      "language-go"
      "language-objective-c"
      "language-perl"
      "language-toml"
      "line-ending-selector"
      "link"
      "metrics"
      "open-on-github"
      "package-generator"
      "welcome"
      "atom-ctags"
      "linter-rubocop"
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/simon/Dev"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "base16-syntax"
    ]
  "cursor-history":
    excludeClosedBuffer: true
    flashColor: "success"
    flashOnLand: true
    flashType: "point"
  "duotone-dark-syntax":
    color:
      duo: "#32fac3"
      uno: "#da9e54"
  editor:
    fontFamily: "PragmataPro"
    fontSize: 17
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "30a929de-bec7-6f06-8d10-1b6b30c9f3e9"
  "find-and-replace":
    closeFindPanelAfterSearch: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-history":
    showDiff: false
  "highlight-line":
    underline: "dashed"
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    highlightInPanes: false
  "ide-crystal":
    compilerColorOutput: true
  jumpy:
    highContrast: true
  linter:
    lintOnChange: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
    globalNodePath: "/usr/local"
  "linter-ui-default":
    panelHeight: 81
    tooltipFollows: "Keyboard"
  "markdown-preview": {}
  "mocha-test-runner":
    options: "--require react-native-mock/mock --require babel-polyfill ./test/* -c -G --compilers js:babel-core/register"
  "nord-atom-ui": {}
  "one-dark-ui":
    fontSize: 11
    tabSizing: "Minimum"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "predawn-ui": {}
  react:
    enabledForAllJavascriptFiles: true
  "relative-numbers": {}
  "ruby-block":
    showBottomPanel: false
  scrolloff:
    verticalMargin: 3
    vorizontalMargin: 2
  tabs: {}
  "terminal-plus":
    style:
      theme: "dracula"
  "test-status":
    autorun: false
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    highlightSearch: true
    smoothScrollOnHalfScrollMotionDuration: 150
    statusBarModeStringStyle: "long"
    stayOnYank: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
".rspec.ruby.source":
  editor:
    tabLength: 4
