packages: [
  "ariake-dark-syntax"
  "atom-clock"
  "atom-ctags"
  "atom-gooey-syntax"
  "atom-material-ui"
  "atom-spotify2"
  "base16-syntax"
  "busy-signal"
  "crystal"
  "cursor-history"
  "dracula-theme"
  "dracula-ui"
  "emmet"
  "find-and-replace-under-cursor"
  "firewatch-syntax"
  "gruvbox"
  "highlight-line"
  "highlight-selected"
  "intentions"
  "language-markdown"
  "language-rspec"
  "linter"
  "linter-eslint"
  "linter-rubocop"
  "linter-ui-default"
  "material"
  "nova-atom-syntax"
  "nova-atom-ui"
  "oceanic-next"
  "package-sync"
  "peacock-syntax"
  "peacocks-in-space-syntax"
  "react"
  "relative-numbers"
  "ruby-block"
  "scrolloff"
  "spacegray-dark-ui"
  "spacegray-light-neue-ui"
  "toggle"
  "vim-mode-plus"
  "yard"
  "yoceanic-next-syntax"
]
